@charset "UTF-8";
/* ----------   GENERALES ----------   */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

/*  ---------- HEADER ----------  */
.header {
  width: 100vw;
  background-color: #244444;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3000; }
  .header .nav {
    background-color: #244444; }

.nav__imagen {
  width: 100px;
  height: 100px;
  margin-right: 50px; }

.nav__barraNavegacion__elemento {
  display: inline-block;
  margin: 0 10px;
  padding: 8px 12px;
  border-radius: 3px; }
  .nav__barraNavegacion__elemento .nav__barraNavegacion__link {
    text-decoration: none;
    list-style: none;
    color: #f4e4c4;
    font-size: 20px;
    font-weight: 600; }
    .nav__barraNavegacion__elemento .nav__barraNavegacion__link:hover {
      color: #f4e4c4; }
  .nav__barraNavegacion__elemento:hover {
    background-color: #84543c;
    transition: 0.3s; }

/* ----------   FOOTER ----------   */
/* ----------   Sección Contacto ----------   */
.footer {
  background-color: #beb9b3;
  margin-top: 100px;
  margin-bottom: 0px;
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.footer__contacto {
  display: grid;
  grid-template-areas: "titulo titulo" "wpp numero" "instagram cuenta" "mail correo";
  grid-template-rows: 0.5fr; }
  .footer__contacto .gridWpp {
    grid-area: wpp; }
  .footer__contacto .gridIg {
    grid-area: instagram; }
  .footer__contacto .gridMail {
    grid-area: mail; }
  .footer__contacto .gridNumero {
    grid-area: numero; }
  .footer__contacto .gridCuenta {
    grid-area: cuenta; }
  .footer__contacto .gridCorreo {
    grid-area: correo; }
  .footer__contacto .footer__contacto__titulo {
    grid-area: titulo;
    margin-top: 25px;
    font-size: 20px; }
  .footer__contacto .footer__contacto_imagenes {
    display: inline-block; }
  .footer__contacto .footer__contacto__imagen {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
    vertical-align: middle; }
  .footer__contacto .footer__contacto_info {
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle; }
    .footer__contacto .footer__contacto_info:hover {
      color: #000000; }
  .footer__contacto .footer__contacto_info--alineado {
    margin-bottom: 10px; }
  .footer__contacto .footer__contacto_info--sinLink {
    text-decoration: none;
    list-style: none;
    color: #000000;
    color: black; }

/* ----------   Sección Nav ----------   */
.footer__nav__lista {
  display: inline-block; }

.footer__nav__link {
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-size: 20px;
  display: inline-block;
  margin-right: 25px; }
  .footer__nav__link:hover {
    color: black; }

/* ----------   Sección copyright ----------   */
.footer__copyright__imagen {
  width: 30px;
  height: 30px; }

/* ---------- BODY ----------  */
body {
  background-color: #f4e4c4; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.row {
  margin-right: 0px;
  margin-left: 0px;
  --bs-gutter-x: 0px; }

/* ----------  MAIN ----------  */
.main {
  padding-top: 115px;
  text-align: center;
  height: 550px; }
  .main .main__biblioteca, .main .main__biblioteca3 {
    width: 100%;
    height: 550px;
    filter: brightness(50%); }
  .main .main__biblioteca3 {
    filter: brightness(70%); }
  .main .main__logotipo {
    width: 75%;
    position: relative;
    bottom: calc(100% + 125px);
    z-index: 2000; }

/* ----------  SECCIÓN DESCRIPCIÓN ----------  */
.seccionDescripcion {
  margin-top: 155px;
  margin-bottom: 5%; }
  .seccionDescripcion .articuloDescripcion__Contenedor {
    display: flex;
    justify-content: center; }
    .seccionDescripcion .articuloDescripcion__Contenedor .articuloDescripcion {
      width: 80%;
      padding-bottom: 15px; }
      .seccionDescripcion .articuloDescripcion__Contenedor .articuloDescripcion .articuloDescripcion_parrafo {
        font-size: 125%;
        text-align: center;
        line-height: 25px; }

/* ----------  SECCIÓN SERVICIOS ----------  */
.seccionServicios {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center; }
  .seccionServicios .seccionServicios__servicio {
    text-align: center;
    width: 98%;
    height: 100%;
    display: inline-block;
    background-color: #eab7a350;
    border-radius: 5px; }
    .seccionServicios .seccionServicios__servicio .seccionServicios__servicio__titulo {
      font-size: 1.7em;
      margin: 15px;
      font-weight: 700; }
    .seccionServicios .seccionServicios__servicio .seccionServicios__servicio__parrafo {
      line-height: 25px;
      margin: 15px;
      text-align: justify;
      font-size: 16px; }
    .seccionServicios .seccionServicios__servicio:hover {
      background-color: #eab7a3;
      transition: 0.5s;
      box-shadow: 0px 0px 2px 5px #999;
      transform: translateY(-15px); }

/*   ---------- SOBRE MI  ----------  */
.sobreMi {
  padding-top: 185px; }
  .sobreMi .sobreMi__titulo {
    font-size: 45px;
    margin-bottom: 40px;
    color: #244444d9;
    text-align: center; }
  .sobreMi .SobreMi__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .sobreMi .SobreMi__contenedor .sobreMi__contenedorImagen {
      margin-bottom: 40px; }
      .sobreMi .SobreMi__contenedor .sobreMi__contenedorImagen .sobreMi__imagenRostro {
        width: 350px;
        height: 500px; }
    .sobreMi .SobreMi__contenedor .sobreMi__contenedorPresentacion {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .sobreMi .SobreMi__contenedor .sobreMi__contenedorPresentacion .sobreMi__presentacion {
        width: 500px;
        margin-left: 50px;
        line-height: 25px;
        text-align: justify;
        font-size: 16px; }

/*   ---------- SERVICIOS  ----------  */
.introduccionServicios {
  padding-top: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .introduccionServicios .introduccionServicios__titulo {
    font-size: 45px;
    margin-bottom: 40px;
    color: #244444d9;
    text-align: center; }
  .introduccionServicios .introduccionServicios__texto {
    width: 70%;
    text-align: justify;
    font-size: 16px; }

.servicios {
  padding-top: 70px;
  text-align: center; }
  .servicios .servicios__articulo {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .servicios .servicios__articulo .servicios__articulo__imagen {
      width: 300px;
      height: 300px;
      border-style: solid;
      border-color: #244444c4; }
      .servicios .servicios__articulo .servicios__articulo__imagen:hover {
        transform: scale(1.04, 1.04);
        transition: 0.5s;
        border-style: solid;
        border-color: #244444c4;
        box-shadow: 0px 0px 4px 5px  #c29076b8; }
    .servicios .servicios__articulo .servicios__articulo__descripcion--marginLeft, .servicios .servicios__articulo .servicios__articulo__descripcion {
      width: 40%;
      text-align: justify;
      margin-right: 30px; }
    .servicios .servicios__articulo .servicios__articulo__descripcion {
      margin-right: 0px;
      margin-left: 30px;
      font-size: 16px; }

/* ---------- PÁGINA: CONTACTO ----------  */
.introduccionContacto {
  padding-top: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .introduccionContacto .introduccionContacto__titulo {
    font-size: 45px;
    margin-bottom: 40px;
    color: #244444d9; }
  .introduccionContacto .introduccionContacto__texto {
    width: 70%;
    text-align: justify;
    font-size: 16px; }

.formulario {
  margin-top: 60px; }
  .formulario .formulario__contenedorDatos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .formulario .formulario__contenedorDatos .formulario__contenedor__datos {
      width: 50%;
      height: 38px;
      text-align: center;
      background-color: #f7f5f5;
      border-radius: 5px;
      margin-bottom: 25px;
      box-shadow: 0px 0px 0px 4px #244444; }
    .formulario .formulario__contenedorDatos .formEmail {
      height: 38px; }
  .formulario .formulario__contenedor__opcion {
    width: 50%;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 0px 4px  #244444; }
  .formulario .formulario__contenedorConsulta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .formulario .formulario__contenedorConsulta .formulario__contenedor__texto {
      margin-bottom: 25px;
      width: 50%;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 0px 4px  #244444; }
    .formulario .formulario__contenedorConsulta .formulario__contenedor__boton {
      width: 140px;
      height: 30px;
      background-color: #e4bc74;
      border-style: none;
      border-radius: 3px; }
      .formulario .formulario__contenedorConsulta .formulario__contenedor__boton:hover {
        width: 145px;
        height: 35px;
        transition: 0.5s;
        cursor: pointer; }

.introduccionFAQ {
  padding-top: 185px; }
  .introduccionFAQ .introduccionFAQ__titulo {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    color: #244444d9; }
  .introduccionFAQ .introduccionFAQ__texto {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    font-size: 16px; }

.content {
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

.center {
  width: 95%;
  align-self: center;
  margin: auto; }

details {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  background-color: #244444; }

summary {
  transition: background .75s ease;
  width: 100%;
  outline: 0;
  text-align: center;
  font-size: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-top: 1px solid #D3D3D3; }

.contentTitulo {
  color: white;
  text-align: left;
  margin-bottom: 0;
  padding: 15px;
  text-shadow: none;
  font-size: 16px; }

details p {
  padding: 0 25px 15px 25px;
  margin: 0;
  text-shadow: none;
  text-align: justify;
  line-height: 1.3em;
  background-color: white;
  margin-bottom: 1rem;
  padding: 1rem 1.25rem; }

details[open] summary:hover {
  background: none; }

details summary::-webkit-details-marker {
  display: none; }

@media screen and (max-width: 1200px) {
  .seccionServicios__servicio:hover {
    transform: none;
    pointer-events: none;
    background-color: #eab7a350;
    transition: none;
    width: none;
    height: none;
    box-shadow: none; }
  .nav__barraNavegacion__elemento:hover {
    background-color: #244444;
    transition: none; }
  .servicios .servicios__articulo .servicios__articulo__imagen:hover {
    transform: none;
    transition: none;
    border-style: solid;
    border-color: #244444c4;
    box-shadow: none; }
  .formulario .formulario__contenedorConsulta .formulario__contenedor__boton:hover {
    width: 140px;
    height: 30px;
    transition: none;
    cursor: none; } }

@media screen and (max-width: 990px) {
  .footer {
    height: 360px;
    flex-direction: column; }
  .footer__contacto__titulo {
    text-align: center;
    margin-bottom: 15px; }
  .main .main__biblioteca, .main .main__biblioteca3, .main .main__biblioteca3 {
    height: 480px; }
  .main {
    height: 450px;
    padding-top: 80px; }
  .seccionDescripcion .articuloDescripcion__Contenedor .articuloDescripcion {
    width: 90%; }
  .correccion {
    margin-top: 15px; }
  .botonNav {
    background-color: #e4bc74;
    margin-left: 130px; }
  .sobreMi, .introduccionFAQ, .introduccionContacto, .introduccionServicios {
    padding-top: 140px; }
  .sobreMi__contenedorImagen {
    justify-content: center; }
  .sobreMi__contenedorPresentacion {
    align-items: center; }
  .sobreMi .SobreMi__contenedor .sobreMi__contenedorPresentacion .sobreMi__presentacion {
    margin-left: 0px;
    hyphens: auto;
    width: 90%; }
  .seccionDescripcion .articuloDescripcion__Contenedor .articuloDescripcion .articuloDescripcion_parrafo {
    text-align: justify;
    font-size: 16px; }
  .header {
    height: 11vh; }
  .nav {
    width: 100vw;
    height: 11vh; }
  .nav__imagen {
    width: 80px;
    height: 80px; }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px; }
  .botonNav {
    width: 57px;
    height: 40px; }
  .navLista {
    background-color: #244444; }
  .navbar > .container-fluid {
    justify-content: space-evenly; }
  .introduccionFAQ .introduccionFAQ__texto, .introduccionContacto .introduccionContacto__texto, .introduccionServicios .introduccionServicios__texto {
    width: 90%; }
  .formulario .formulario__contenedorDatos .formulario__contenedor__datos, .formulario .formulario__contenedor__opcion, .formulario .formulario__contenedorConsulta .formulario__contenedor__texto {
    width: 75%; } }

@media screen and (max-width: 768px) {
  .nav__barraNavegacion, .footer__barraNavegacion {
    display: none; }
  .nav__imagen {
    margin-right: 0px; }
  .main {
    height: 380px; }
  .main .main__biblioteca, .main .main__biblioteca3, .main .main__biblioteca3 {
    height: 400px; }
  .trabajoMano {
    margin-top: 15px; }
  .servicios {
    padding-top: 40px; }
  .formulario {
    margin-top: 40px; }
  .servicios__articulo {
    flex-direction: column; }
  .servicios__articulo--reverse768 {
    flex-direction: column-reverse; }
  .servicios .servicios__articulo .servicios__articulo__descripcion, .servicios .servicios__articulo .servicios__articulo__descripcion--marginLeft, .servicios .servicios__articulo .servicios__articulo__descripcion {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 16px;
    width: 90%; } }

@media screen and (max-width: 480px) {
  .main .main__biblioteca, .main .main__biblioteca3, .main .main__biblioteca3 {
    height: 300px; }
  .main {
    height: 270px; }
  .seccionServicios__servicio__titulo {
    font-size: 1.4em; }
  .footer__contacto_info {
    font-size: 0.9em; }
  .sobreMi__imagenRostro {
    width: 250px;
    height: 350px; }
  .navLista {
    margin-top: -5px; } }
