/* ---------- PÁGINA: CONTACTO ----------  */

.introduccionContacto{
    padding-top: $seperacionHeader;
    @include displayFlexCenter;
    flex-direction: column;
    .introduccionContacto__titulo{
        font-size: $letraTitulos;
        margin-bottom: $marginBottomTitulos;
        color: $colorTitulos;
    }
    
    .introduccionContacto__texto{
        width: 70%;
        text-align: justify;
        font-size: $letraBodyMobile; 
    }
}


.formulario{
    margin-top: 60px;
    .formulario__contenedorDatos{
        display: flex;
        flex-direction: column;
        align-items: center;
        .formulario__contenedor__datos{
            @include tamaño(50%, 38px);
            text-align: center;
            background-color: #f7f5f5;
            border-radius: 5px;
            margin-bottom: 25px;
            box-shadow: 0px 0px 0px 4px  $colorVerde;
        }
        .formEmail{
            height: 38px;
        }
    }
    .formulario__contenedor__opcion{
        @include tamaño(50%, 38px);
        text-align: center;
        border-radius: 5px;
        margin-bottom: 25px;
        box-shadow: 0px 0px 0px 4px  #244444;
    }
    .formulario__contenedorConsulta{
        @include displayFlexCenter;
        flex-direction: column;
        .formulario__contenedor__texto{
            margin-bottom: 25px;
            width: 50%;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 0px 4px  #244444;
        }
        .formulario__contenedor__boton{
            @include tamaño(140px, 30px);
            background-color: $caquiOscuro;
            border-style: none;
            border-radius: 3px;
            &:hover{
                @include tamaño(145px, 35px);
                transition: 0.5s;
                cursor: pointer;
            }
        }
    }
}