/*  ---------- HEADER ----------  */


.header {
    width: 100vw;
    background-color: #244444;
    @include displayFlexCenter;
    position: fixed;
    z-index: 3000;
    .nav {
        background-color: #244444;
    }
}

.nav__imagen {
    @include tamaño(100px, 100px);
    margin-right: 50px;
}


.nav__barraNavegacion__elemento {
    display: inline-block;
    margin: 0 10px;
    padding: 8px 12px;
    border-radius: 3px;
    .nav__barraNavegacion__link {
        text-decoration: map-get($links, text-decoration);
        list-style: map-get($links, list-style);
        color: map-get($links, color);
        font-size: map-get($links, font-size);
        font-weight: map-get($links, font-weight);
        &:hover{
            color: #f4e4c4;
        }
    }
    &:hover{
        background-color: #84543c;
        transition: 0.3s;
    }
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}