/* ---------- BODY ----------  */

body{
    background-color: $caquiClaro;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    --bs-gutter-x: 0px;
}


/* ----------  MAIN ----------  */ 

.main{
    padding-top: 115px;
    text-align: center;
    height: 550px;
    .main__logotipo{
        width: 75%;
        position: relative;
        bottom: calc(100% + 125px);
        z-index: 2000;
    }
}

.main__biblioteca{
    width: 100%;
    height: 550px;
    filter: brightness(50%);
}

.main__biblioteca3{
    width: 100%;
    height: 550px;
    filter: brightness(70%);
}



/* ----------  SECCIÓN DESCRIPCIÓN ----------  */

.seccionDescripcion{
    margin-top: 155px;
    margin-bottom: 5%;
    .articuloDescripcion__Contenedor{
        display: flex;
        justify-content: center;
        .articuloDescripcion{
            width: 80%;
            padding-bottom: 15px;
        }
    }
}

.articuloDescripcion--paddinRight{
    padding-right: 15px;
}

.articuloDescripcion--paddinLeft{
    padding-left: 15px;
}

.articuloDescripcion_parrafo{
    font-size: 125%;
    text-align: center;
    line-height: 25px;
}

/* ----------  SECCIÓN SERVICIOS ----------  */

.seccionServicios{
    text-align: center;
    width: 100%;
    display: flex; 
    justify-content: center; 
    .seccionServicios__servicio{
        text-align: center;
        width: 98%;
        height: 100%;
        display: inline-block;
        background-color:  #eab7a350;
        border-radius: 5px;
        .seccionServicios__servicio__titulo{
            font-size: 1.7em;
            margin: 15px;
            font-weight: 700;
        }
        
        .seccionServicios__servicio__parrafo{
            line-height: 25px;
            margin: 15px;
            text-align: justify;
            font-size: $letraBodyMobile;
        }
        &:hover{
            background-color:  #eab7a3;
            transition: 0.5s;
            box-shadow: 0px 0px 2px 5px #999;
            transform: translateY(-15px);
        }
    }
}