@media screen and (max-width: 1200px) {
    .seccionServicios__servicio:hover{
        transform: none;
        pointer-events: none;
        background-color: #eab7a350;
        transition: none;
        @include tamaño(none, none);
        box-shadow: none;
    }

    .nav__barraNavegacion__elemento:hover {
        background-color: #244444;
        transition: none;
    }

    .servicios .servicios__articulo .servicios__articulo__imagen:hover{
        transform: none;
        transition: none;
        border-style: solid;
        border-color: #244444c4;
        box-shadow: none;
    }

    .formulario .formulario__contenedorConsulta .formulario__contenedor__boton:hover{
        @include tamaño(140px, 30px);
        transition: none;
        cursor: none;
    }
        
}

@media screen and (max-width: 990px){
    .footer{
        height: 360px;
        flex-direction: column;
    }

    .footer__contacto__titulo{
        text-align: center;
        margin-bottom: 15px
    }
    .main .main__biblioteca, .main .main__biblioteca3{
        height: 480px;
    }

    .main {
        height: 450px;
        padding-top: 55px;
    }

    .seccionDescripcion .articuloDescripcion__Contenedor .articuloDescripcion {
        width: 90%;
    }

    .correccion{
        margin-top: 15px;
    }

    .botonNav{
        background-color: #e4bc74;
        margin-left: 130px;
    }

    .sobreMi, .introduccionFAQ, .introduccionContacto, .introduccionServicios{
        padding-top: $seperacionHeaderMobile;
    }

    .sobreMi__contenedorImagen {
        justify-content: center;
    }

    .sobreMi__contenedorPresentacion {
        align-items: center;
    }

    .sobreMi .SobreMi__contenedor .sobreMi__contenedorPresentacion .sobreMi__presentacion{
        margin-left: 0px;
        hyphens: auto;
        width: 90%;
    }

    .seccionDescripcion .articuloDescripcion__Contenedor .articuloDescripcion .articuloDescripcion_parrafo {
        text-align: justify;
        font-size: $letraBodyMobile;
    }

    .header {
        height: 11vh;
    }

    .nav {
        @include tamaño(100vw, 12vh);
    }

    .nav__imagen {
        @include tamaño(65px, 65px);
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .botonNav{
        @include tamaño(50px, 35px);
    }

    .navLista{
        background-color: #244444;
    }

    .navbar>.container-fluid{
        justify-content: space-evenly;
    }

    .introduccionFAQ .introduccionFAQ__texto, .introduccionContacto .introduccionContacto__texto, .introduccionServicios .introduccionServicios__texto {
        width: 90%;
    }

    .formulario .formulario__contenedorDatos .formulario__contenedor__datos, .formulario .formulario__contenedor__opcion, .formulario .formulario__contenedorConsulta .formulario__contenedor__texto{
        width: 75%;
    }
}


@media screen and (max-width: 768px){
   
    .nav__barraNavegacion, .footer__barraNavegacion {
        display: none;
    }

    .nav__imagen {
        margin-right: 0px;
    }
    
    .main{
        height: 380px;
    }
       
    .main .main__biblioteca, .main .main__biblioteca3{
        height: 400px;
    }
   
    .trabajoMano{
        margin-top: 15px;
    }

    .servicios {
        padding-top: 40px;
    }

    .formulario {
        margin-top: 40px;
    }

    .servicios__articulo{
        flex-direction: column;
    }   
    
    .servicios__articulo--reverse768{
        flex-direction: column-reverse;
    }

    .servicios .servicios__articulo .servicios__articulo__descripcion, .servicios .servicios__articulo .servicios__articulo__descripcion--marginLeft {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        font-size: $letraBodyMobile;
        width: 90%;
    }
}

@media screen and (max-width: 480px){
    .main .main__biblioteca, .main .main__biblioteca3{
        height: 300px;
    }

    .main {
        height: 255px;
    }
    
    .seccionServicios__servicio__titulo {
        font-size: 1.4em;
    }

    .footer__contacto_info {
        font-size: 0.9em;
    }

    .sobreMi__imagenRostro {
        @include tamaño(250px, 350px);
    }
    
    .navLista{
        margin-top: -5px;
    }
}