/*   ---------- SERVICIOS  ----------  */

.introduccionServicios{
    padding-top: $seperacionHeader;
    @include displayFlexCenter;
    flex-direction: column;
    .introduccionServicios__titulo{
        font-size: $letraTitulos;
        margin-bottom: 25px;
        color: $colorTitulos;
        text-align: center;
    }
    .introduccionServicios__texto{
        width: 70%;   
        text-align: justify;
        font-size: $letraBodyMobile;
    }
}



.servicios{
    padding-top: 70px;
    text-align: center;
    .servicios__articulo{
        margin-bottom: 50px;
        @include displayFlexCenter;
        .servicios__articulo__imagen{
            @include tamaño(300px, 300px);
            border-style: solid;
            border-color: #244444c4;
            &:hover{
                transform: scale(1.04,1.04);
                transition: 0.5s;
                border-style: solid;
                border-color: #244444c4;
                box-shadow: 0px 0px 4px 5px  #c29076b8;
            }
        }
        .servicios__articulo__descripcion--marginLeft{
            width: 40%;
            text-align: justify;
            margin-right: 30px;
        }
        .servicios__articulo__descripcion{
            @extend .servicios__articulo__descripcion--marginLeft;
            margin-right: 0px;
            margin-left: 30px;
            font-size: $letraBodyMobile;
        }

    }
}



