
$colorVerde:  #244444;
$caquiClaro:  #f4e4c4;
$caquiOscuro: #e4bc74;
$colorMarron:  #84543c;


$letraBodyMobile: 16px;

$letraTitulos: 45px;
$colorTitulos: #244444d9;
$marginBottomTitulos: 40px;

$seperacionHeader: 185px;
$seperacionHeaderMobile: 140px;





@mixin tamaño($width, $height) {
    width: $width;
    height: $height;
}


@mixin displayFlexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}





$links: (
    text-decoration: none,
    list-style: none,
    color: #f4e4c4,
    font-size: 20px,
    font-weight: 600,
)